<%= form_with(model: @request)  do |form| %>
  <%= form.label '名稱' %>
  <%= form.text_field :name %>
  <%= form.label '描述' %>
  <%= form.text_field :description %>
  <%= form.label '檔案' %>
  <%= form.file_field :file %>
  <%= form.label '擁有者地址' %>
  <%= form.text_field :mint_to_address %>
  <%= form.submit %>
<% end %>
<div data-controller="metamask">
  <button id="enableEthereumButton" data-action="click->metamask#connectWallet">連結錢包</button>
  <h2>Address: <span data-metamask-target="address" ></span></h2>
  <h2>Balance: <span data-metamask-target="balance" ></span></h2>
  <h2>Token Balance: <span data-metamask-target="token_balance" ></span></h2>
</div>